body {
    background-image: url(img/pacman.png);
}
container {
    background: linear-gradient(to right, #0080ff, #0000ff);
}

h1 {
    color: #fff;
    text-shadow: 2px 2px 5px #000 ;

}

h2 {
    color: #fff;
    text-shadow: 1px 1px 3px darkred;
}
